
<%- include('header') %>

    <!-- NAVIGATION -->
    <nav class="nav_conatiner">
        <div class="categories_container">
            <a href="/men">men</a>
            <a href="/women">women</a>
            <a href="/kids">kids</a>
        </div>
        <div class="log_container">
            <a href="/">logo</a>
        </div>

        <div class="tools_container">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/>
            <img src="https://img.icons8.com/ios/32/000000/bookmark-ribbon--v1.png"/>
           <a href="/register"><button class="singUp_btn">Sing up</button></a> 
        </div>
    </nav>


    <!-- header slider -->
    <div class="header_slider_conatainer">
        <div class="slider_conatainer">
            <img src="https://images.unsplash.com/photo-1556905055-8f358a7a47b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
        </div>
    </div>

    <!-- brands -->
<div class="barnd_wrapper">
    <h1 class="title">MOST POPULAR BRANDS</h1>
    <div class="brands_conatiner">
        <div class="brand brand-1"><img src="https://img.icons8.com/ios-filled/50/000000/nike.png"/></div>
        <div class="brand brand-2"><img src="https://img.icons8.com/ios/50/000000/adidas-trefoil.png"/></div>
        <div class="brand brand-3"><img src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/48/000000/external-puma-a-german-multinational-company-designs-and-manufactures-athletic-and-casual-footwear-apparel-and-accessories-fashion-bold-tal-revivo.png"/></div>
        <div class="brand brand-4"><img src="https://static.cdnlogo.com/logos/r/24/reebok.svg" alt=""></div>
        <div class="brand brand-5"><img src="https://static.cdnlogo.com/logos/c/8/calvin-klein.svg" alt=""></div>
        <div class="brand brand-5"><img src="https://static.cdnlogo.com/logos/c/8/calvin-klein.svg" alt=""></div>
    </div>
</div>

<!--  WHAT IS NEW -->

<div class="new_products_wrapper">
    <h1 class="title">MOST POPULAR THIS WEEK</h1>

    <div class="new_container men">
        <div class="left"><img src="" alt=""></div>
        <div class="right">
            <h2>new in men</h2>
            <div class="new_product">
                <div class="product_img">
                    <img src="" alt="">
                </div>
                <div class="product_img">
                    <img src="" alt="">
                </div>
                <div class="product_img">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="new_container women">
        <div class="right">
            <h2>new in women</h2>
            <div class="new_product">
                <div class="product_img">
                    <img src="" alt="">
                </div>
                <div class="product_img">
                    <img src="" alt="">
                </div>
                <div class="product_img">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="left"><img src="" alt=""></div>

    </div>
    <div class="new_container kids">
        <div class="left"><img src="" alt=""></div>
        <div class="right">
            <h2>new in kids</h2>
            <div class="new_product">
                <div class="product_img">
                    <img src="" alt="">
                </div>
                <div class="product_img">
                    <img src="" alt="">
                </div>
                <div class="product_img">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<!-- FOOTER -->

<div class="footer_container">
</div>

<%- include('footer')%>