    <!-- NAVIGATION -->
    <nav class="nav_conatiner">
        <div class="categories_container">
            <a href="/type/men">men</a>
            <a href="/type/women">women</a>
            <a href="/type/kids">kids</a>
        </div>
        <div class="log_container">
            <a href="/">logo</a>
        </div>

        <div class="tools_container">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"/>
            <img src="https://img.icons8.com/ios/32/000000/bookmark-ribbon--v1.png"/>
           <a href="/register"><button class="singUp_btn">Sing up</button></a> 
        </div>
    </nav>