<%- include('partials/header') %>

    <div class="register_container">
        <h3>Sing Up</h3>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <h4>OR</h4>
            <button class="google-btn">GOOGLE</button>
            <button class="facebook-btn">FACEBOOK</button>
        </form>
        <a href="/login">log in</a>
    </div>
<%- include('partials/footer') %> 
