
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*----------------- colors variables----------------------- */
:root{
    --body-background-color: #f5f5f5;
    --content-background-color:#ffffff;
    --black-color:#000000;
    --white-color:#ffffff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    margin: 0;
    max-width: 100vw;
    background-color: var(--body-background-color);
    font-family: 'Roboto', sans-serif;
    
}

/* ----------------------- duplicate classes-------------------------- */
a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black-color);

}
.categories_container, 
.tools_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tools_container img{
    height: 25px;
    cursor: pointer;
}
/* --------------------------------------------------------------------- */

.nav_conatiner{
    margin:2% 3%;
    width: 95%;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background-color: var(--content-background-color) ;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.233);
    top: 0;
    position: fixed;
    z-index: 10;

}
.categories_container a{
    margin-left: 20px;
    font-weight: 700;
}
.categories_container a:hover{
    border-bottom: 2px solid rgba(0, 0, 0, 0.411);
    color: rgba(0, 0, 0, 0.582);
}

.tools_container img, 
.tools_container button{
    margin-right: 20px;

}

.singUp_btn{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.singUp_btn:hover{
    transform: scale(1.1);
}
/* ________________________ HEADER SLIDER __________________________ */
.wrapper_slider{
    height: 600px;
    /* box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.36);
    border-radius: 10px; */
    border:1px solid rgba(0, 0, 0, 0.418) ;
    position: relative;
    top:100px ;
    margin: 3% 7%;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: 0 10px;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: black;
  }
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.prev{
      left: 0;
    border-radius: 3px 0 0 3px;

  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(71, 71, 71, 0.8);
  }
.image_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.slider_img{
    height: 100%;
    width: 100%;

}
.slider_img img{
   height: 100%;
   width: 100%;
   object-fit: contain;
   object-position: center;
   transition: 1s ease-in;

}

.image_slider_animation{
    animation-name: imageSlider;
    animation-duration: 1s;
}
@keyframes imageSlider {
    from {transform: translateX(70%);}
    to {transform: translateX(0%);}
}


/* ---------------------- brand container------------------------------- */
.brands_conatiner{
    margin: 7%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
}
.brand{
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgba(0, 0, 0, 0.63);
    font-size: 30px;
    font-weight: 700;
    border:  1px solid black;
    text-transform: uppercase;
    cursor: pointer;
}
.brand:hover{
    opacity: .7;
}
.brand-4 img ,
.brand-5 img,
.brand-6 img{
    height: 50%;
}
.brand-1{background-color: #2de7a3b4;}
.brand-2{background-color: #fff069b6;}
.brand-3{background-color: #1f50ccb6;}
.brand-4{background-color: #dfa167bd;}
.brand-5{background-color: #2a1b64be;}
.brand-6{background-color: #ea2323b9;}

.title{
    text-align: center;
    margin: 5% 0;
}

/* -------------------------- new products------------------------------- */
.new_products_wrapper{
    display: flex;
    flex-direction: column;
    margin: 7%;
}

.new_container{
    height: 400px;
    padding: 2rem;
    border-radius: 10px;
    /* background-color: var(--white-color); */
    /* background-color: #00000048; */
    margin: 4rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.new_container img{
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}
.left{
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
}
.right{
    margin: 0 20px;
    height: 100%;
    width: 60%;
}
.right h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid black;
    display:inline-block;
    margin-left: 15px;
}
.new_product{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));    
    grid-gap: 10px;
    height: 85%;
    margin-top: 20px;
    /* border: 1px solid black; */
}
.product_img{

    height: 285px;
    border: 2px solid rgba(0, 0, 0, 0.473);
    border-radius: 10px;

}
.product_img img{
    height: 285px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
}



/* --------------------- register page-------------------------------- */
.register_container{
   width: 400px;
   margin: 10% auto;
   padding: 20px;
   background-color: rgba(189, 189, 189, 0.623);
   border-radius: 10px;
   

}
.register_container form{
    display: flex;
    flex-direction: column;
}
.register_container form input{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    outline:none;
    background-color: white;
    border-radius: 15px;
    border: none;
}
.register_container form button{
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    outline:none;
    background-color: white;
    border-radius: 15px;
    border: none;
}

h3,h4{ 
    text-align: center;
    margin: 20px 0;
}
h3{
    font-size: 25px;
}
.register_container form .facebook-btn,
.register_container form .google-btn{
    color: white;
    cursor: pointer;
}
.register_container form .facebook-btn{ background-color: #3759CF;}
.register_container form .google-btn{background-color: #C31D1D;}

.register_container  a {
    color: rgb(25, 9, 250);
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
}
.register_container a:hover {text-decoration: underline;}



/* ----------------- products page---------------------- */
.products_conatainer{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products_conatainer .card_conatainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));    
    grid-gap: 10px;
}
.products_conatainer .card_conatainer .item{
    display: flex;
    flex-direction: column;
}
.products_conatainer .card_conatainer .item img{
   width: 100%;
}
.products_conatainer .card_conatainer .item .details{
    margin: 20px auto;
    text-align: center;
 }
 .products_conatainer .card_conatainer .item button{
     padding: 10px;
     border: none;
     outline: none;
     font-size: 16px;
     background-color: black;
     color: white;
     cursor: pointer;
     width: 80%;
     margin: auto;
 }
 .products_conatainer .card_conatainer .item button:hover{
     width: 85%;
}


/* -------------- footer------------------------- */
.footer_container{
    width: 100%;
    padding: 5%;
    border-top: 1px solid rgba(0, 0, 0, 0.226);
    display: flex;
    align-items: flex-start;
}
.footer_container .container{
    width: 25%;
}
.footer_collection_title{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}
.further_Information a{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.61);
    text-transform: capitalize;
}
.further_Information a:hover{
   color: rgba(0, 0, 0, 0.781);
   font-size: 15px;
}
.further_Information{
    display: flex;
    flex-direction: column;
}